/* =======
CSS Reset
========*/

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    font-family: "Nunito";
}

body {
    width: 100%;
    height: 100%;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* =======
Main styling
========*/

main {
    background-color: #41417f;
    width: 100%;
    height: 100%;
}

h1 {
    color: rgb(9, 3, 33);
}

#calculator #display p {
    color: rgb(244, 242, 242);
    font-size: large;
    font-weight: bold;
}

#calculator {
    border: 1px solid black;
    background-color: #3c3c4a;
    border-radius: 0.3em;
    width: fit-content;
}

#calculator #display {
    border-bottom: 3px solid rgb(33, 29, 29);
    background-color: #454561;
    
    /* A way to make the squared background not clip over
    the #calculator rounded border. Masking might be a more intuitive solution here. */
    border-radius: 0.3em 0.3em 0 0;
    
    width: 100%;
    padding: 1em 2em;
}

#calculator #buttons {
    padding: 1em 2em;
}

/* =======
Calculator widget
========*/